/* panorama faces */

.front {

    transform:translateZ(-1024px);

    background-image:url("images/panorama/panorama_1.png");

}


.right {

    transform:
    rotateY(90deg)
    translateZ(-1024px);

    background-image:url("images/panorama/panorama_4.png");

}


.back {

    transform:
    rotateY(180deg)
    translateZ(-1024px);

    background-image:url("images/panorama/panorama_3.png");

}


.left {

    transform:
    rotateY(-90deg)
    translateZ(-1024px);

    background-image:url("images/panorama/panorama_5.png");

}


.top {

    transform:
    rotateX(90deg)
    translateZ(-1024px);

    background-image:url("images/panorama/panorama_0.png");

}


.bottom {

    transform:
    rotateX(-90deg)
    translateZ(-1024px);

    background-image:url("images/panorama/panorama_2.png");

}
