html, body {

margin:0;
height:100%;
overflow:hidden;
background:black;

}


#scene {

width:100vw;
height:100vh;

perspective:800px;

overflow:hidden;

}


#cube {

position:absolute;

left:50%;
top:50%;

width:1024px;
height:1024px;

transform-style:preserve-3d;

}


.face {

position:absolute;

width:1024px;
height:1024px;

background-size:100% 100%;

}


/* Front */

.front {

transform:translateZ(512px);

background-image:url("images/panorama/panorama_0.png");

}


/* Right */

.right {

transform:
rotateY(90deg)
translateZ(512px);

background-image:url("images/panorama/panorama_1.png");

}


/* Back */

.back {

transform:
rotateY(180deg)
translateZ(512px);

background-image:url("images/panorama/panorama_2.png");

}


/* Left */

.left {

transform:
rotateY(-90deg)
translateZ(512px);

background-image:url("images/panorama/panorama_3.png");

}


/* Top */

.top {

transform:
rotateX(90deg)
translateZ(512px);

background-image:url("images/panorama/panorama_4.png");

}


/* Bottom */

.bottom {

transform:
rotateX(-90deg)
translateZ(512px);

background-image:url("images/panorama/panorama_5.png");

}
