html, body {

    margin:0;
    padding:0;

    overflow:hidden;

    background:black;

}


#panorama {

    position:fixed;

    width:100vw;
    height:100vh;

    perspective:1200px;

    overflow:hidden;

}


#cube {

    width:2048px;
    height:2048px;

}


.face {

    position:absolute;

    width:2048px;
    height:2048px;

    background-size:cover;
    background-position:center;

}



/* Original arrangement */


.front {

    transform:translateZ(-1024px);

    background-image:url("images/panorama/panorama_0.png");

}


.back {

    transform:
    rotateY(180deg)
    translateZ(-1024px);

    background-image:url("images/panorama/panorama_2.png");

}


.right {

    transform:
    rotateY(90deg)
    translateZ(-1024px);

    background-image:url("images/panorama/panorama_1.png");

}


.left {

    transform:
    rotateY(-90deg)
    translateZ(-1024px);

    background-image:url("images/panorama/panorama_3.png");

}


.top {

    transform:
    rotateX(90deg)
    translateZ(-1024px);

    background-image:url("images/panorama/panorama_4.png");

}


.bottom {

    transform:
    rotateX(-90deg)
    translateZ(-1024px);

    background-image:url("images/panorama/panorama_5.png");

}
