*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#111;
    overflow:hidden;

    color:white;

    font-family:"Barlow Condensed",sans-serif;
}

/* background */

.background{

    position:fixed;

    inset:0;

    background:

    radial-gradient(circle at top left,#ff0022 0%,transparent 40%),

    linear-gradient(130deg,#111 55%,#191919 55%);

}

/* menu */

.menu{

    position:absolute;

    top:40px;
    left:50px;

    display:flex;

    flex-direction:column;

    gap:18px;

}

.menu a{

    color:white;

    text-decoration:none;

    font-size:42px;

    font-weight:700;

    letter-spacing:3px;

    background:#111;

    padding:8px 28px;

    transform:skew(-18deg);

    border-left:8px solid red;

    transition:.2s;

    box-shadow:8px 8px black;

}

.menu a:hover{

    background:red;

    transform:translateX(20px) skew(-18deg);

}

/* title */

.hero{

    position:absolute;

    right:120px;

    top:120px;

    text-align:right;

}

.hero h1{

    font-size:120px;

    line-height:.9;

    text-shadow:8px 8px black;

}

.hero p{

    margin-top:20px;

    font-size:28px;

    background:red;

    display:inline-block;

    padding:6px 20px;

    transform:skew(-15deg);

}

/* gif */

.futaba{

    position:absolute;

    bottom:0;

    right:80px;

    width:350px;

    image-rendering:auto;

    filter:drop-shadow(10px 10px 0 black);

}
